{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }],
      "stage-2",
      "stage-3"
    ],
    "plugins": [
      "transform-async-to-generator",
        "transform-es2015-modules-commonjs",
        "transform-export-extensions"
    ],
  //"comments": false,
}
